*{
    margin: 10px;
}

.columna-izquierda {
    float: left;
}

.columna-centro {
    float: left;
    display: flex;
    flex-direction: column;
}

.columna-derecha {
    float: left;
}

.bajo {
    margin-left: 220px;
}

.derecha {
    display: flex;
    flex-direction: column;
}

button {
    margin: 8px;
}