<div class="contenido">
    <form [formGroup]="formulario" (ngSubmit)="guardar()">

        <div class="columna-izquierda">
            <button mat-raised-button type="button" (click)="agregar()">Adicionar</button>
        </div>

        <div class="columna-centro">
            <div formArrayName="cajaP" *ngFor="let s of contenidoP.controls; let i = index ">
                <mat-form-field class="example-full-width" appearance="fill" >
                  <mat-label>Nombre</mat-label>
                  <input matInput #message maxlength="150" [formControlName]="i">
                </mat-form-field>
      
                  <!-- Limpia la caja de texto -->
                <button mat-raised-button type="button" (click)="limpiarCajaP(i)">Limpiar</button>
                  <!-- Elimina la caja de texto -->
                <button mat-raised-button color="warn" (click)="borrarCaja(i)" type="button">Eliminar</button>
            </div>

            <div class="bajo">
                <!-- Limpia caja de texto multilinea -->
                <button mat-raised-button type="button" (click)="limpiarCajaG()">Limpiar Caja</button>
              </div>
              
              <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput  cols="30" 
                rows="7"> {{ contenido2 }} </textarea>
              </mat-form-field>

        </div>

        <div class="columna-derecha">
            <div class="derecha">
                <small>Acciones</small>
                <!-- Guardar -->
                <button mat-raised-button (click)="guardar()" [disabled]="formulario.invalid">Guardar</button>
        
                <!-- Limpiar -->
                <button mat-raised-button type="reset" (click)="limpiar()">Limpiar</button>
              </div>
        </div>

    </form>
</div>
